/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* General body styles */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-size: 22px; /* Increase the base font size */
}

/* Container styling */
.container {
    width: 90%; /* Increase the width to 90% of the viewport */
    max-width: 1200px; /* Set a maximum width */
    margin: auto;
    overflow: hidden;
}

/* Home container styling */
.home-container {
    width: 100%; /* Full width for home page */
    margin: 0; /* Adjust margin as needed */
    padding: 0; /* Adjust padding as needed */
}

header {
    background: #1f1f1f;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #000000 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px; /* Increase font size */
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-size: 28px; /* Increase font size */
}

header nav {
    float: right;
    margin-top: 10px;
}

.content {
    padding: 20px;
    background: #1e1e1e;
    margin-top: 20px;
    border-radius: 8px;
}

.content div {
    margin-bottom: 20px;
}

/* Bio, Skills, and Favorites container styling */
.content-wrapper {
    display: flex;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
    justify-content: space-between;
    gap: 20px;
}

.bio {
    flex: 2;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px; /* Minimum width to ensure it doesn't get too small */
}

.skills-favorites-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 300px; /* Minimum width to ensure it doesn't get too small */
}

.skills, .favorites {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    font-size: 22px; /* Increase font size */
}

footer {
    background: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 18px; /* Increase font size */
}
